/*
* Natalie Kennedy
* March 28, 2018
* Description of Project
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { font-family: Impact,Ariel,"Times New Roman";
 background-color: #FFA1B9;
	color: black;

}

h1 {text-decoration: overline underline ; background-color: #FFB8D6}
h3 {background-color: #FFB8D6}
p { background-color: white; color:#FFA1B9}
